# This pre-commit will do the same thing as the python-lint.yml
# python-lint.yaml runs on every pull request 
# this will run every time you commit 

# HOW TO CONFIGURE:
# 2) ./run install
# 3) pre-commit install
# 4) optional: pre-commit autoupdate

# HOW TO USE:
# pre-commit run --all-files
# OR 
# python -m pre_commit run --all-files
# OR pre-commit run --files specificfile.py

# HELPFUL TOOL (black): 
# if you are failing pre-commit (flake8) bc of whitespace blah blah
# 1) pip install black
# 2) python -m black .
# PROBLEM SOLVED

# fought so much to get pre-commit working. 
# Conclusion: if you downloaded python from microsoft store pre-commit wont work.
# have to uninstall, clear a bunch of stuff, then reinstall from python.org.
# But then... the run file only works locally if I replace the top shebang
# python3 to just python

# from ChatGPT:
repos:
  # Run flake8 for linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0   # pick a stable version
    hooks:
      - id: flake8

  # Run isort for import sorting
  # IMPORTANT ISORT NOTE:
  # if you have a file that requires you run code before importing, or
  #    if the order you import is important 
  # put ''' isort: skip_file ''' at the top of the file 
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0 # if on ec2 use 5.12.0
    hooks:
      - id: isort
        args: [--line-length=120]

  # Run mypy for type checking
  # I've commented this out for now, but I think it would be good to add, ask team
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests
